<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="EAACP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <EAACP.Properties.Settings>
            <setting name="XPos" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="YPos" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="frmWidth" serializeAs="String">
                <value>170</value>
            </setting>
            <setting name="frmHeight" serializeAs="String">
                <value>380</value>
            </setting>
            <setting name="Auth" serializeAs="String">
                <value />
            </setting>
            <setting name="QOXPos" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="QOYPos" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="APIP" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="APPort" serializeAs="String">
                <value>8080</value>
            </setting>
            <setting name="QOAssociated" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StelIP" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="StelPort" serializeAs="String">
                <value>8090</value>
            </setting>
            <setting name="soID" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="soMag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="soType" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="soNames" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="soGalaxyType" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="soDistance" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Hubble" serializeAs="String">
                <value>70.4</value>
            </setting>
            <setting name="DistanceUnit" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ShowRV" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="soCatalogue" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="sfMagnitude" serializeAs="String">
                <value>17</value>
            </setting>
            <setting name="sfDistMin" serializeAs="String">
                <value />
            </setting>
            <setting name="sfDistMax" serializeAs="String">
                <value />
            </setting>
            <setting name="sfAll" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="sfStars" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="sfGalaxies" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="sfQuasars" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="sfDouble" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="sfVariable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="sSharpCapDSA" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="sResultsList" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StFontSize" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="StFontColour" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="StGraphicSize" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="StGraphicColour" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="StGraphic" serializeAs="String">
                <value>circle</value>
            </setting>
            <setting name="sfDatasource" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="sfGlobulars" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SearchArea" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SearchRadius" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SiteLng" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SiteLat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SiteElev" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ASCOMTelescope" serializeAs="String">
                <value>\"\"</value>
            </setting>
            <setting name="StScriptFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="sfNebulae" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="sfAstroPlanner" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="sfPlanetarium" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="sfNoMag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="objTxtID" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="objTxtName" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="objTxtType" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="objTxtMagnitude" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="objTxtFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="objTxtManualText" serializeAs="String">
                <value />
            </setting>
            <setting name="objTxtMaxChars" serializeAs="String">
                <value />
            </setting>
            <setting name="objTxtConstellation" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StelPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="StLabelPosition" serializeAs="String">
                <value>W</value>
            </setting>
            <setting name="StLabelDistance" serializeAs="String">
                <value>15</value>
            </setting>
        </EAACP.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>